#about {
  cursor: url("../../../public/cursors/Xw.cur"), auto;
  border-radius: 5px;
  display: block;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: CosmicSuperHumanRegular-Regular;
  color: white;
  background-color: #ff007f;
}

#about-title {
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
  font-size: 200%;
  font-family: CosmicSuperHumanRegular-Regular;
  color: white;
  background-color: #d10068;
}

#about-description {
  padding-bottom: 25px;
  text-align: center;
  font-family: CosmicSuperHumanRegular-Regular;
  color: white;
  font-size: 100%;
}
