#projects {
  font-family: CosmicSuperHumanRegular-Regular;
  background-color: #ff007f;
  border-radius: 5px;
  cursor: url("../../../public/cursors/Xw.cur"), auto;
}
#projects-title{
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d10068;
  font-size: 200%;
  color: white;
}
