#all-bar{
  cursor: url("../../../public/Xw.cur"), auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  height : 50%;
  width : 50%;
}

#top-bar{
  border-radius: 2%;
  background-color: white;
  padding: 2%;
  margin: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#button-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff007f;
  color: white;
  border-radius: 2%;
  padding: 2% 10%;
}

.top-bar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "CosmicSuperHumanRegular-Regular";
  font-size: 100%;
  background-color: #ff007f;
  color: white;
  border-radius: 2%;
  border: none;
  padding: 2% 2%;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.top-bar-button:hover {
  color: rgba(255, 255, 255, 0.81);
  filter: brightness(0.8);
}

#top-bar-banner {
  border-radius: 0% 0% 2% 2%;
  position: absolute;
  top: -17%;
  z-index: -1;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 786px) {
.top-bar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "CosmicSuperHumanRegular-Regular";
  font-size: 200%;
  background-color: #ff007f;
  color: white;
  border-radius: 2%;
  border: none;
  padding: 2% 2%;
  cursor: pointer;
  transition: filter 0.2s ease;
}
}
